.banner_inner {
    background-image: url('../img/banner_service.jpg');
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


/* kolom menu service      */

.services_item {
    text-align: center;
    padding: 45px 55px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.services_item img {
    margin-bottom: 23px;
}

.services_item h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 18px;
}

.services_item p {
    font-size: 14px;
    color: gray;
}

.services_item:hover {
    box-shadow: 0px 10px 30px 25px rgba(0, 0, 0, 0.1);
}


/* point */

.kolom_point {
    background-color: #25499f;
    padding: 115px 0px 115px 0px;
}

.kolom_point .point_inner .point_item h3 {
    font-size: 75px;
}


/* testimonial */

.carousel-indicators {
    top: 100%;
}